/*
  FONTS: 
  Faster One -> font-family: 'Faster One', cursive;
  Squada One -> font-family: 'Squada One', cursive;
  Source Code Pro -> font-family: 'Source Code Pro', monospace;
*/
@import "https://fonts.googleapis.com/css2?family=Squada+One&display=swap";

$--primary-color-title:#DF0539;
$--secondary-color-text:#329FAE;
$--text-color:#ffffff;
$--text-color-price:#000000ce;
$--background-black: rgba(0, 0, 0, 0.404);
$--background-blue: #18B9C3;
$--background-green: #3BD673;

$--monserrat-font:'Montserrat', sans-serif;
$font-family-text: 'Source Code Pro', monospace;
$font-family-title: 'Faster One';



